.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.education-form-container {
  background-color: white;
  margin-top: -5vh;
  height: 615px;
  width: 745px;
  border-radius: 0.6rem;
  overflow-y: auto;
}

.education-form-header {
  font-size: 20px;
  font-weight: 330;
  word-break: normal;
}

.education-form-header-container {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 20px;
  padding: 19px 24px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.close-modal-button {
  padding: 18px 18px;
  align-items: right;
  border: 0;
  color: gray;
  cursor: pointer;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: -7px;
}

.close-modal-button:hover {
  background-color: rgba(0,0,0,0.1);
}

.education-form-input-container {
  margin-left: 24px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  height: 28px;
  width: 92%;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 3px;
  background-color: transparent;
  align-items: center;
  outline: none;
  margin-bottom: 15px;
}

.education-form-labels {
  margin-left: 24px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  background-color: transparent;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#education-form-textarea {
  height: 60px;
  line-height: 150%;
  resize: vertical;
}

.education-form-month-selector {
  margin-left: 24px;
  width: 46%;
  height: 28px;
  border: 1px solid rgba(0,0,0,0.6);
  margin-bottom: 15px;
}

.education-form-year-selector {
  margin-left: 10px;
  width: 46%;
  height: 28px;
  border: 1px solid rgba(0,0,0,0.6);
  margin-bottom: 15px;
}

.education-form-button {
  padding: 16px 16px;
  align-items: right;
  border: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  height: 16px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2977c9;
}

.education-form-button:hover {
  background-color: #006097;
}

.education-form-button-container {
  width: 94%;
  border-top: 1px solid rgba(0,0,0,0.08);
  padding: 15px 20px;
  display: flex;
  justify-content: end;
}

.education-form-error-message {
  font-size: 0.9rem;
  font-weight: 400;
  color: #d11124;
  margin-top: -10px;
  margin-left: 28px;
}

.education-form-delete {
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  color:rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  margin-right: 499px;
  overflow: auto;
}

.education-form-delete:hover {
  background-color: rgba(0,0,0,0.1);
}

.experience-form-errors {
  font-size: 0.9rem;
  font-weight: 400;
  color: #d11124;
  margin-top: -10px;
  padding-bottom: 10px;
  margin-left: 28px;
}