.profile-page {
    background-color: #f3f2ef;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    min-height: 95vh;
    width: 100vw;
}

.profile-page-centered {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.profile-page-body {
    /* margin-left: 12vw; */
    width: 54vw;
    max-width: 820px;
    display: block;
    margin-top: 50px;
    min-width: 400px;
}

.profile-page-education-experience {
    background-color: white;
    /* word-wrap: break-word;
    word-break: break-all; */
    word-break: normal;
    padding-bottom: 12px;
    margin-top: 8px;
    position: relative;
    border-radius: 0.8rem;;
    border: 1px solid rgba(0,0,0,0.08);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 25px;
}

.education-experience-index-item {
    padding: 1.2rem 5px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    overflow: auto;
}

.education-experience-index-item:last-child {
    border-bottom: none;
}

.education-experience-header {
    padding-left: 5px;
    font-size: 21px;
    font-weight: 500;
    word-break: normal;
}

.education-experience-bolded {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    word-break: normal;
}

.education-experience-dark-font {
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 140%;
    word-break: normal;
}

.education-experience-grey-font {
    color: rgba(0,0,0,0.6);
    font-size: 15px;
    font-weight: 300;
    line-height: 140%;
    word-break: normal;
}

.education-experience-body {
    padding-left: 55px;
}

.education-experience-image-logo {
    float: left;
    display: block;
    width: 48px;
    height: auto;
    padding-right: 8px;
}

.education-experience-header-container {
    display: flex;
    justify-content: space-between;
}

.add-education-experience-button {
    padding: 18px 18px;
    align-items: right;
    border: 0;
    color: gray;
    cursor: pointer;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: -5px;
}
  
.add-education-experience-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.update-education-experience-button {
    padding: 18px 18px;
    border: 0;
    color: gray;
    cursor: pointer;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: -5px;
    float: right;
}

.update-education-experience-button:hover {
    background-color: rgba(0,0,0,0.1);
}

#edit-button-pencil {
    height: 30px;
    width: 30px;
}

.profile-page-right-bar {
    margin-left: 20px;
    display: block;
    width: 300px;
    margin-top: 74px;
}