.single-comment {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.single-reply {
    margin-left: 45px;
}

.single-comment-right {
    width: 100%;
}

.single-comment-body {
    margin-left: 5px;
    background-color: #f2f2f2;
    padding: 8px 12px;
    border-radius: 0.3rem;
}

.single-comment-name-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-comment-post-date {
    display: flex;
    flex-direction: row;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}

.single-comment-post-date > div {
    margin-left: 5px;
}

#single-comment-name {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

#single-comment-name > p {
    font-size: 12px;
    background-color: #56687a;
    color: white;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    padding: 2px;
    border-radius: 0.2rem;
}

#single-comment-name > div:hover {
    color: #0a66c2;
    text-decoration: underline;
}

#single-comment-headline {
    color: rgba(0,0,0,0.6);
    margin-top: 5px;
    font-size: 12px;
}

#single-comment-body {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 14px;
}

.comment-likes-replies {
    margin-left: 4px;
    margin-top: 3px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.comment-likes-replies > div {
    padding: 3px;
    margin: 0px 10px;
}

.comment-likes-replies > div:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.3rem;
}

.comment-form-area {
    display: flex;
    /* align-items: center; */
    margin-bottom: 15px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-form > button {
    width: 55px;
    margin-top: 10px;
    margin-left: 13px;
    cursor: pointer;
    text-decoration-line: none;
    border-radius: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border: 0.1rem solid #0a66c2;
    background-color: #0a66c2;
    color: white;
    padding: 2px;
}

.comment-form > button:hover {
    background-color: #004182;
}

#comment-post-button-disabled {
    display: none;
}

.comment-form-input {
    margin-left: 5px;
    border-radius: 35px;
    min-height: 35px;
    width: 96%;
    padding-left: 10px;
    border: 0.1rem solid rgba(0,0,0,0.4);
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    cursor: pointer;
}