.global-nav-bar {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

#nav-bar-logo {
    width: 35px;
    height: 35px;
}

.global-left-nav-bar {
    margin-right: max(17vw, 400px);
}

.global-right-nav-bar {
    margin-left: 18vw;
    margin-right: 15vw;
}