.global-nav-bar {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

#nav-bar-logo {
    width: 35px;
    height: 35px;
}

.global-left-nav-bar {
    margin-right: max(17vw, 400px);
}

.global-right-nav-bar {
    margin-left: 18vw;
    margin-right: 15vw;
}

.nav-bar-dropdown-button {
  border: 0;
  color: gray;
  cursor: pointer;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.nav-bar-dropdown {
    position: absolute;
    top: 6vh;
    left: 57vw;
    border: 1px solid rgba(0,0,0,0.6);
    width: 200px;
    height: 200px;
    z-index: 1000;
    background-color: white;
    border-radius: 0.6rem;
    display: flex;
}

.nav-bar-logout-button {
    /* display: flex;
    align-items: flex-end;
    padding-left: 5px;
    border-top: 1px solid rgba(0,0,0,0.08); */
}